# Database Configuration

# The hostname of your database server (e.g., localhost)
DB_HOST=localhost

# The port your database is listening on (Default for PostgreSQL is 5432)
DB_PORT=5432

# The database user
DB_USERNAME=

# The password for the database user
DB_PASSWORD=

# The name of the specific database to connect to
DB_NAME=

JWT_SECRET=

# Email configuration
EMAIL_SERVICE=
EMAIL_USER=
EMAIL_PASSWORD=

# Frontend URL for reset links
FRONTEND_URL=

ENV=dev #dont put prod here https wont work i think, not sure

#                       -don't edit this file-         ___,------,
#              _,--.---.                         __,--'         /
#            ,' _,'_`._ \                    _,-'           ___,|
#           ;--'       `^-.                ,'        __,---'   ||
#         ,'               \             ,'      _,-'          ||
#        /                  \         _,'     ,-'              ||
#       :                    .      ,'     _,'                 |:
#       |                    :     `.    ,'                    |:
#       |           _,-      |       `-,'                      ::
#      ,'____ ,  ,-'  `.   , |,         `.                     : \
#      ,'    `-,'       ) / \/ \          \                     : :
#      |      _\   o _,-'    '-.           `.                    \ \
#       `o_,-'  `-,-' ____   ,` )-.______,'  `.                   : :
#        \-\    _,---'    `-. -'.\  `.  /     `.                  \  \
#         / `--'             `.   \   \:        \                  \,.\
#        (              ____,  \  |    \\        \                 :\ \\
#         )         _,-'    `   | |    | \        \                 \\_\\
#        /      _,-'            | |   ,'-`._      _\                 \,'
#        `-----' |`-.           ;/   (__ ,' `-. _;-'`\           _,--'
#      ,'        |   `._     _,' \-._/  Y    ,-'      \      _,-'
#     /        _ |      `---'    :,-|   |    `     _,-'\_,--'   \
#    :          `|       \`-._   /  |   '     `.,-' `._`         \
#    |           _\_    _,\/ _,-'|                     `-._       \
#    :   ,-         `.-'_,--'    \                         `       \
#    | ,'           ,--'      _,--\           _,                    :
#     )         .    \___,---'   ) `-.____,--'                      |
#    _\    .     `    ||        :            \                      ;
#  ,'  \    `.    )--' ;        |             `-.                  /
# |     \     ;--^._,-'         |                `-._            _/_\
# \    ,'`---'                  |                    `--._____,-'_'  \
#  \_,'                         `._                          _,-'     `
#                            ,-'  `---.___           __,---'
#                           ,'             `---------'
#                         ,'
